<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width">
	<title>Desarrollo de Aplicaciones Backbone</title>
	<script data-main="js/main" src="js/libs/requirejs/require.js"></script>	
</head>
<body>
	<div id="wrapper">
		<h1>Aplicaciones con Backbone</h1>
	</div>
	<script type="text/template" id="item-template">
		<div>			
			<input type="checkbox" id="todo_complete" <%= completed ? 'checked="checked"' : '' %>>
			<%- title %>
		</div>
	</script>
</body>

</html>